@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Poppins";
    font-display: swap;
    font-weight: 500;
    src: url("/assets/Poppins/Poppins-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins";
    font-display: swap;
    font-weight: 700;
    src: url("/assets/Poppins/Poppins-Bold.ttf") format("truetype");
  }
}
